{% extends 'tours_base.html' %}

{% block title %}
  Список мест проведения
{% endblock %}
{% block link %}
  <link rel="stylesheet" href="{{ url_for('static', filename="css/tourn_style.css") }}">
{% endblock %}

{% block left_nav %}
  <li class="menu_item"><a href="{{ url_for("tours_app.main") }}">Соревнования</a></li>
  <li class="menu_item menu_item_active"><a href="#">Места проведения</a></li>
  <li class="menu_item"><a href="#">Справочники</a></li>
{% endblock %}

{% block right_nav %}
  {% if auth %}
    {% include 'auth_right_nav.html' %}
  {% else %}
    {% include 'annonym_right_nav.html' %}
  {% endif %}
{% endblock %}
{% block main %}
  <header class="main-header">
    <h1>Места проведения</h1>
    <button class="button button-yes button-add" id="add_tour_button">+
    </button>
  </header>
  <section class="table">
    <h2 class="visually-hidden">Список мест проведения турниров</h2>
    <div class="row row-grid-place">
      <div class="cell cell-head"><h2>Название</h2></div>
    </div>
    {% for row in rows %}
      <div class="row row-grid-place">
        <div class="cell cell-row"><p class="p_left">{{ row.place }}</p></div>
      </div>
    {% endfor %}
  </section>
{% endblock %}
{% block script %}
  <script src="../../static/js/tournaments.js"></script>
{% endblock %}
{% block modals %}
  {% include 'tours_add.html' %}
{% endblock %}
