<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Справочники</title>
  <link rel="stylesheet" href="../../static/css/references_style.css">
</head>
<body>
  <main class="references-container">
    <nav>
      <ul class="references-list">
        {% for reference in references %}
          <li class="reference_item" id="{{ "reference_" ~ loop.index0 }}">{{ reference }}</li>
        {% endfor %}
        <li class="last_item" id="{{ "reference_" ~ references|length() }}"></li>
      </ul>
    </nav>
    <section class="references-content">
      <div class="table_reference">
        <div class="head_reference"><h2>Заголовок таблицы</h2></div>
        <div class="row_reference">
          <div class="cell_reference column_head"><h2>Column1</h2></div>
          <div class="cell_reference column_head"><h2>Column2</h2></div>
        </div>
        <div class="row_reference">
          <div class="cell_reference"></div>
          <div class="cell_reference"></div>
        </div>
        <div class="row_reference">
          <div class="cell_reference"></div>
          <div class="cell_reference"></div>
        </div>
        <div class="row_reference">
          <div class="cell_reference"></div>
          <div class="cell_reference"></div>
        </div>
      </div>
    </section>
  </main>
  <script src="../../static/js/references.mjs" type="module"></script>
</body>
</html>