<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Справочники</title>
  <link rel="stylesheet" href="../../static/css/references_style.css">
</head>
<body>
  <main class="references-container">
    <nav>
      <ul class="references-list">
        <li class="reference_item" id="reference_0">Команды</li>
        <li class="reference_item" id="reference_1">Спортсмены</li>
        <li class="reference_item" id="reference_2">Судьи</li>
        <li class="reference_item" id="reference_3">Виды спорта</li>
        <li class="reference_item" id="reference_4">Дисциплины</li>
        <li class="reference_item" id="reference_5">Категории</li>
        <li class="reference_item" id="reference_6">Карточки</li>
        <li class="last_item" id="reference_7"></li>
      </ul>
    </nav>
    <section class="references-content">
    </section>
  </main>
  <script src="../../static/js/references.mjs"></script>
</body>
</html>