<div class="modal-container">
  <div class="modal modal-add_tour">

  </div>
</div>

  {#<form>
    <fieldset>
      <label for="name">Наименование</label>
      <input id="name" type="text">
    </fieldset>
    <fieldset>
      <label for="place">Место проведения</label>
      <input id="place">
      <button>...</button>
    </fieldset>
    <fieldset>
      <label for="date_start">Дата начала</label>
      <input id="date_start" type="date">
    </fieldset>
    <fieldset>
      <label for="date_finish">Дата окончания</label>
      <input id="date_finish" type="date">
    </fieldset>
    <fieldset>
      <label for="state">Статус</label>
      <select id="state">
        <option selected>Подготовка</option>
        <option>Проходят</option>
        <option>Завершены</option>
      </select>
    </fieldset>
  </form>#}



