:root{
  --padding: 10px;
  --column_width: calc((var(--width) - 3 * var(--padding)) / 2);
  --first_row_heigth: calc(var(--column_width) / 3 * 2);
  --field_width: calc(var(--column_width) * 5 / 6)
}
.place-container{
  width: var(--width);
  margin-top: 15px;
  display: grid;
  grid-template-rows: var(--first_row_heigth) calc((var(--width) - 2 * 10px) / 16 * 9);
  padding: var(--padding) 0;
  gap: var(--padding);
  border-radius: 15px;
  background-color: var(--light_70);
}

.place-row_1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.place-row{
  margin: 0 10px;
}

section, .photo, .photo img{
  border-radius: 9px;
}

.place-fields{
  background: linear-gradient(to bottom, var(--snow), var(--light_50));
}

.place-photos{
  position: relative;
  background-color: var(--light);
  /*background-image: url("../src/uktus.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
}

.place-photos-empty{
  background-color: var(--empty);
}

.photo-track{
  border-radius: 9px;
  display: flex;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.photo-track::-webkit-scrollbar {
    display: none;
}

.photos-inner{
  background-color: var(--light_70);
  display: inline-flex;
}

.place-map{
  background-color: var(--empty);
}

.photo-menu{
  margin: 0;
  padding: 2px;
  height: 52px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  list-style-type: none;
  display: grid;
  grid-template-rows: 25px 25px;
  gap: 2px;
  background-color: var(--light_50);
  border-radius: 4px;
}

.photo-button{
  border-radius: 4px;
  margin: 0;
  background-color: var(--snow_50);
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.photo-button:hover{
  background-color: var(--snow_72);
}

.photo-button__add{
  background-image: url("../img/Plus.svg");
}

.photo-button__delete{
  background-image: url("../img/basket.svg");
}

.photo-menu__leaf{
  top: calc(((var(--width) - 3 * 10px) / 2) / 3 - 30px / 2);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  display: flex;
  padding: 0;
}

.photo-menu-hide{
  display: none;
}

.photo-menu__left{
  left: 10px;
}

.photo-menu__right{
  right: 10px;
}

.photo-button__leaf{
  height: 26px;
  width: 26px;
  margin: auto;
  border-radius: 26px;
}

.photo-button:active{
  box-shadow: inset 0 0 1px 1px var(--deep-dark_40);
  background-size: 70%;
}

.photo-button__leaf:active{
  background-size: 40%;
}

.photo-button__left{
  background-image: url("../img/PhotoArrowLeft.svg");
  background-position: 30%;
}

.photo-button__right{
  background-image: url("../img/PhotoArrowRight.svg");
  background-position: 70%;
}

.photo{
  background-size: cover;
  background-repeat: no-repeat;
  /*width: calc((960px - 3 * 10px) / 2);*/
  margin: 0 2px;
}

.photo img{
  height: 100%;
  /*width: 100%;*/
  /*object-fit: cover;*/
}

.add_place_form{
  --input_heigth: calc(0.097 * var(--first_row_heigth));
  --field_heigth: calc(0.155 * var(--first_row_heigth));
  --field_padding: calc(var(--input_heigth) / 2);
  --input_font-size: calc(0.045 * var(--first_row_heigth));
  --label_font-size: calc(0.03 * var(--first_row_heigth));
  --area_font-size: calc(0.037 * var(--first_row_heigth));
  height: var(--first_row_heigth);
  border-radius: 9px;
  background-color: var(--darkly_80);
  display: grid;
  justify-content: center;
  position: relative;
  margin: 0;
  grid-template-rows:
          var(--input_heigth)
          calc(var(--field_heigth) + var(--field_padding))
          calc(var(--field_heigth) + var(--field_padding) + var(--input_heigth))
          calc(var(--field_heigth) + var(--field_padding))
          calc(var(--field_padding) + var(--input_heigth));
}

.place-header{
  margin-top: 2.8%;
}

.place-title {
  margin: 0;
  font-family: var(--header-font-family);
  font-size: var(--input_font-size);
  color: var(--light);
  font-weight: 600;
}

.place-field{
  grid-template-rows: 40% 60%;
  padding: var(--field_padding) 0 0;
  width: 100%;
  height: var(--field_heigth);
}

.place_field-caption{
  font-size: calc(0.045 * var(--first_row_heigth));
  -webkit-text-stroke-width: 0;
}

.place_field-input{
  font-size: var(--input_font-size);
}

.place_field-label{
  top: calc(var(--field_heigth) * 0.9);
  left: var(--padding);
  font-size: var(--area_font-size);
}

.area-address{
  font-size: var(--area_font-size);
}

.field_address{
  grid-template-rows: 24.5% 75.5%;
  padding: var(--field_padding) 0 0;
  width: 100%;
  height: calc(var(--field_heigth) + var(--input_heigth));
}

.buttons-add_place{
  width: var(--field_width);
  height: var(--input_heigth);
  padding: var(--field_padding) 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);
}

.place_button{
  padding: 0;
  font-size: var(--input_font-size);
}

.place_field-input:focus, .place_field-input:not(:placeholder-shown){
  padding-top: calc(var(--input_font-size) / 2);
  padding-left: var(--padding);
}

.place_field-input:focus~.place_field-label, .place_field-input:not(:placeholder-shown)~.place_field-label {
  color: var(--darkly);
  transform: scale(.60) translateY(calc(var(--input_font-size) * -1)) translateX(calc(var(--padding) * -1));
}

.leaflet_control{
  padding: 2px;
  height: 52px;
  width: 25px;
  background-color: var(--light_50);
  border-radius: 4px;
  border: 0;
}