@import "root.css";

root{
  --width_nav: calc(var(--width) / 6);
  --width_content: calc(var(--width) / 6 * 5);
}

body{
  background: #ffffff url("../img/snow200x200.jpg");
  width: var(--width);
  margin: auto;
}

.references-container{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.references-list{
  position: relative;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.reference_item{
  width: calc(var(--width) / 6 * 0.9 - 2px);
  padding-left: 10%;
  height: calc(var(--width) / (6 * 4));
  border: var(--darkly) 1px solid;
  line-height: calc(var(--width) / (6 * 4));
  background-color: var(--snow_80);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  font-family: var(--button-font-family);
  color: var(--deep-dark);
}

.last_item{
  width: calc(var(--width) / 6);
  height: calc(var(--width) / (6 * 4));
}

.reference_item:hover{
  color: var(--darkly);
  background-color: var(--light);
}

.reference_item:active{
  font-weight: bold;
  background-color: white;
}

.reference_item-active:hover{
  background-color: var(--light_70);
  color: var(--deep);
}

.reference_item-active{
  color: var(--deep);
  font-weight: bold;
  background-color: var(--light_70);
  border: var(--light_70) 1px solid;
  border-right: none;
  width: calc(var(--width) / 6 * 0.9 - 1px);
  position: relative;
  z-index: 1;
}

.item_before_active{
  position: relative;
  border-radius: 10px 0 10px 10px;
}

.item_after_active{
  position: relative;
  border-radius: 10px 10px 0 10px;
}

.references-content{
  display: flex;
  background-color: var(--light_70);
  border-radius: 0 10px 10px 10px;
  padding: 30px 0;
}

.div-after{
  width: 10px;
  height: 10px;
  background-image: radial-gradient(circle at 0 100%, var(--light_0) 9px, var(--light_70) 10px);
  position: absolute;
  right: -1px;
  top: -1px;
}

.div-before{
  width: 10px;
  height: 10px;
  background-image: radial-gradient(circle at 0 0, var(--light_0) 9px, var(--light_70) 10px);
  position: absolute;
  right: -1px;
  bottom: -1px;
}

.table_reference{
  margin: auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.head_reference{
  display: flex;
  border-radius: 5px;
  background: var(--deep_74);
}

.row_reference{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.cell_reference{
  height: 40px;
  border: var(--darkly_80) solid 1px;
  border-radius: 5px;
  background-color: var(--snow_30);
  display: flex;
}

.cell_reference p{
  margin: auto 10%;
  font-family: var(--p-font-family);
  color: var(--deep-dark);
}

.head_reference h2{
  font-family: var(--header-font-family);
  color: var(--light);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--deep);
  margin: auto;
  font-size: 24px;
}

.column_head{
  background-color: var(--snow);
  display: flex;
}

.column_head h2{
  margin: auto;
  font-family: var(--header-font-family);
  font-size: 20px;
  color: var(--deep);
  text-align: center;
}